<div class="full-name vertical--middle text--center">
  <div>
    <h1>Jamie Lawret</h1>
    <h2>Actriz - directora de fotografía</h2>
  </div>
</div>
<div id="home" class="bg--full text--center vertical--middle">
  <div class="overlay"></div>
</div>
<div class="container">
  <header id="navigation">
    <a href="#home" class="logo" data-scroll>Jamie Lawret</a>
    <nav id="nav" class="text--center nav-collapse">
      <ul class="list-inline">
          <li><a href="#work" data-scroll>trabajo</a></li>
          <li><a href="#about" data-scroll>biografia</a></li>
          <li><a href="#press" data-scroll>prensa</a></li>
          <li><a href="#contact" data-scroll>contacto</a></li>
      </ul>
    </nav>
  </header>

  <section id="work" class="pt+ pb+">
    <h1 class="mb+ text--center">mi <span>trabajo</span></h1>
    <div class="layout text--center mb+">
      <div class="layout__item u-12/12 u-5/12-lap-and-up text--left-lap-and-up middle">
        <h2>La ola de atras <small> Abril - 2013</small></h2>
        <h3>Actriz principal</h3>
        <p>Parafo de introduccion, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac pharetra ipsum, eget mollis urna. Sed non tortor sit amet erat tincidunt dictum. Donec facilisis, lectus quis efficitur porttitor, nisl mi porta enim, sed sollicitudin dui tellus non sapien.</p>
      </div>
      <div class="layout__item u-12/12 u-5/12-lap-and-up middle">
        <div class="video__wrapper">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/HjwWY-goyZQ" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="layout text--center">
        <div class="layout__item u-12/12 u-5/12-lap-and-up  text--left-lap-and-up middle">
          <h2>Carretera hacia el sur <small>octubre - 2014</small></h2>
          <h3>Actriz secundaria</h3>
          <p>Parafo de introduccion, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac pharetra ipsum, eget mollis urna. Sed non tortor sit amet erat tincidunt dictum. Donec facilisis, lectus quis efficitur porttitor, nisl mi porta enim, sed sollicitudin dui tellus non sapien.</p>
        </div>
        <div class="layout__item u-12/12 u-5/12-lap-and-up middle">
          <div class="video__wrapper">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7bj0-SEscVM" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="quote text--center pv++">
    <h3>"Me apasiona el cine y la interpretacion"</h3>
    
  </div>
  <section id="about" class="text--center ss-style-doublediagonal pt+ pb+">
    <h1 class="mb+ text--center"><span>sobre</span> mi</h1>
    <div class="inline u-12/12 u-5/12-lap-and-up mb+">
      <p>Parafo de introduccion, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac pharetra ipsum, eget mollis urna. Sed non tortor sit amet erat tincidunt dictum. Donec facilisis, lectus quis efficitur porttitor, nisl mi porta enim, sed sollicitudin dui tellus non sapien.</p>
    </div>
    <div class="layout">
      <div class="layout__item u-12/12 u-3/12-lap-and-up middle">
        <div class="avatar">     
          <img src="/img/about.jpg" alt="foto jamie" />
        </div>
      </div>
      <div class="layout__item u-12/12 u-5/12-lap-and-up middle">
        <ul class="list-bare">
          <li>Comedia</li>
          <li>Drama</li>
          <li>Anuncios</li>
          <li>
          <span class="fa-stack fa-lg">
            <i class="fa fa-camera fa-2x"></i>
         </span> Direccion de fotografia
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section id="press" class="text--center pt+ pb+">
  </section>

  <section id="contact" class="text--center pt+ pb+">
  </section>
</div>
