<div class="full-name vertical--middle text--center">
  <div>
    <h1>Jamie Lawret</h1>
    <h2>Actriz - directora de fotografía</h2>
  </div>
</div>
<div id="home" class="bg--full text--center vertical--middle">
  <div class="overlay"></div>
</div>
<div class="container">
  <header id="navigation">
    <a href="#home" class="logo" data-scroll>Jamie Lawret</a>
    <nav id="nav" class="text--center nav-collapse">
      <ul class="list-inline">
          <li><a href="#work" data-scroll>trabajo</a></li>
          <li><a href="#bio" data-scroll>biografia</a></li>
          <li><a href="#press" data-scroll>prensa</a></li>
          <li><a href="#contact" data-scroll>contacto</a></li>
      </ul>
    </nav>
  </header>

  <section id="work" class="pt+ pb+">
    <div class="layout text--center">
      <div class="layout__item u-12/12 u-5/12-lap-and-up text--left-lap-and-up mb+">
        <h1 class="mb+">mi <span>trabajo</span></h1>
        <p>Parafo de introduccion, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac pharetra ipsum, eget mollis urna. Sed non tortor sit amet erat tincidunt dictum. Donec facilisis, lectus quis efficitur porttitor, nisl mi porta enim, sed sollicitudin dui tellus non sapien.</p>
      </div>
      <div class="layout__item u-12/12 u-5/12-lap-and-up pt+ mb+">
        <div class="layout">
        <div class="layout__item u-12/12 u-12/12-lap-and-up mb+">
          <div class="video__wrapper">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/HjwWY-goyZQ" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="video__caption">
            <p>Descripcion de trabajo de video 1</p>  
          </div>
        </div>
        <div class="layout__item u-12/12 u-12/12-lap-and-up">
          <div class="video__wrapper">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7bj0-SEscVM" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="video__caption">
            <p>Descripcion de trabajo de video 2</p>  
          </div>
        </div>
        </div>
    </div>
    
  </section>

  <div class="quote text--center pv++">
    <h3>"Me apasiona el cine y la interpretacion"</h3>
    
  </div>
  <section id="bio" class="text--center ss-style-doublediagonal pt+ pb+">
        <p>Parafo de introduccion, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac pharetra ipsum, eget mollis urna. Sed non tortor sit amet erat tincidunt dictum. Donec facilisis, lectus quis efficitur porttitor, nisl mi porta enim, sed sollicitudin dui tellus non sapien.</p>
        <p>Parafo de introduccion, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac pharetra ipsum, eget mollis urna. Sed non tortor sit amet erat tincidunt dictum. Donec facilisis, lectus quis efficitur porttitor, nisl mi porta enim, sed sollicitudin dui tellus non sapien.</p>
        <p>Parafo de introduccion, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac pharetra ipsum, eget mollis urna. Sed non tortor sit amet erat tincidunt dictum. Donec facilisis, lectus quis efficitur porttitor, nisl mi porta enim, sed sollicitudin dui tellus non sapien.</p>
        <p>Parafo de introduccion, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac pharetra ipsum, eget mollis urna. Sed non tortor sit amet erat tincidunt dictum. Donec facilisis, lectus quis efficitur porttitor, nisl mi porta enim, sed sollicitudin dui tellus non sapien.</p>
  </section>
  <section id="press" class="text--center pt+ pb+">
  </section>

  <section id="contact" class="text--center pt+ pb+">
  </section>
</div>
