/* LIGHT */
$skin-1-color: #0e9aef;
$skin-1-nav-bg: #3e495f;
$skin-1-a-color: #9ea6b9;
$skin-1-page-bg: #f4f6fa;
.skin-1 {
  .overlay {
    background-color: rgba(255, 255, 255, .7);
  }
  .full-name {
  h1 {
    color: $dark-gray;
    text-shadow: none;
  }
  h2 {
    color: $gray;
    text-shadow: none;
  }
  }
  section {
    background-color: $white;
    h1 {
      color: $gray;
    }
    p {
      color: $dark-gray;
    }
    h2 {
      small {
        color: $gray;
        font-weight: 300;
        padding-left: 1rem;
      }
    }
  }
  header {
    background-color: $dark-gray;
    a {
      color: $white;
    }
  }

  .top-nav-collapse {
    background-color: $dark-gray;
    padding: 0;
  }
  .nav-collapse a {
    color: $white;
  }

  .logo {
    color: $white;
  }
  .top-nav-collapse { 
    a {
      color: $white;
    }
    .logo {
     color: $white; 
    }
  }
  .nav-toggle::before {
    color: $white;
  }
  .nav-collapse a:active,
  .nav-collapse .active a {
  background: $light-gray;
  color: $dark-gray;
  }
  .ss-style-doublediagonal::before {
     background-color: $light-gray;
   }

  #about {
    li {
      color: $gray;
      i {
        color: $light-gray;
      }
    }
  }
}

.skin-2 {
  .overlay {
    background-color: rgba(17, 74, 107, .7);
  }
  .full-name {
  h1 {
    color: $white;
    text-shadow: none;
  }
  h2 {
    color: $light-gray;
    text-shadow: none;
  }
  }
  section {
    background-color: #1F81BA;
    h1 {
      color: $white;
    }
    p {
      color: $white;
    }
    h2 {
      color: $dark-gray;
      small {
        color: $light-gray;
        font-weight: 300;
        padding-left: 1rem;
      }
    }
  }
  .logo {
    color: $white;
  }
  .top-nav-collapse { 
    a {
    color: #114A6B;
    }
    .logo {
     color: #114A6B; 
    }
  }
  .nav-collapse a:active,
  .nav-collapse .active a {
  background: #114A6B;
  color: $white;
  }
   .ss-style-doublediagonal::before {
     background-color: #114A6B;
   }
  #about {
    li {
      color: $light-gray;
      i {
        color: #114A6B;
      }
    }
  }
  #press {
    h3 {
      color: #114A6B;
    }
  }
}



@media screen and (min-width: 64em) {
  .skin-1 {
    .logo {
      color: $gray;
    }
    .nav-collapse a {
      color: $gray;
    }

    .top-nav-collapse { 
      a {
        color: $white;
      }
    }

  }
}
