/* LIGHT */
$skin-1-color: #0e9aef;
$skin-1-nav-bg: #3e495f;
$skin-1-a-color: #9ea6b9;
$skin-1-page-bg: #f4f6fa;
.skin-1 {
  .overlay {
    background-color: rgba(255, 255, 255, .7);
  }
  .full-name {
  h1 {
    color: $dark-gray;
    text-shadow: none;
  }
  h2 {
    color: $gray;
    text-shadow: none;
  }
  }
  section {
    background-color: $white;
    h1 {
      color: $gray;
    }
    p {
      color: $dark-gray;
    }
    h2 {
      small {
        color: $gray;
        font-weight: 300;
        padding-left: 1rem;
      }
    }
  }
  header {
    background-color: $dark-gray;
    a {
      color: $white;
    }
  }

  .top-nav-collapse {
    background-color: $dark-gray;
    padding: 0;
  }
  .nav-collapse a {
    color: $white;
  }

  .logo {
    color: $white;
  }
  .top-nav-collapse { 
    a {
      color: $white;
    }
    .logo {
     color: $white; 
    }
  }
  .nav-toggle::before {
    color: $white;
  }
  .nav-collapse a:active,
  .nav-collapse .active a {
  background: $light-gray;
  color: $dark-gray;
  }
  .ss-style-doublediagonal::before {
     background-color: $light-gray;
   }

  #about {
    li {
      color: $gray;
      i {
        color: $light-gray;
      }
    }
  }
  input, textarea {
    border: 1px solid $light-gray;
  }

}

.skin-2 {
  .overlay {
    background-color: rgba(17, 74, 107, .7);
  }
  .full-name {
  h1 {
    color: $white;
    text-shadow: none;
  }
  h2 {
    color: $light-gray;
    text-shadow: none;
  }
  }
  section {
    background-color: #1F81BA;
    h1 {
      color: $white;
    }
    p {
      color: $white;
    }
    h2 {
      color: $dark-gray;
      small {
        color: $light-gray;
        font-weight: 300;
        padding-left: 1rem;
      }
    }
  }
  .logo {
    color: #114A6B;
  }
  .top-nav-collapse { 
    a {
    color: #114A6B;
    }
    .logo {
     color: #114A6B; 
    }
  }
  .nav-collapse a:active,
  .nav-collapse .active a {
  background: #114A6B;
  color: $white;
  }
   .ss-style-doublediagonal::before {
     background-color: #114A6B;
   }
  #about {
    li {
      color: $light-gray;
      i {
        color: #114A6B;
      }
    }
  }
  #press {
    h3 {
      color: #114A6B;
    }
  }
  .phone a {
    color: #114A6B;
  }
  .btn {
    background-color: #114A6B;
  }
}

.gradient-bg {
  section {
    background: rgba(23,23,23,1);
background: -moz-linear-gradient(left, rgba(23,23,23,1) 0%, rgba(54,54,54,1) 52%, rgba(23,23,23,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(23,23,23,1)), color-stop(52%, rgba(54,54,54,1)), color-stop(100%, rgba(23,23,23,1)));
background: -webkit-linear-gradient(left, rgba(23,23,23,1) 0%, rgba(54,54,54,1) 52%, rgba(23,23,23,1) 100%);
background: -o-linear-gradient(left, rgba(23,23,23,1) 0%, rgba(54,54,54,1) 52%, rgba(23,23,23,1) 100%);
background: -ms-linear-gradient(left, rgba(23,23,23,1) 0%, rgba(54,54,54,1) 52%, rgba(23,23,23,1) 100%);
background: linear-gradient(to right, rgba(23,23,23,1) 0%, rgba(54,54,54,1) 52%, rgba(23,23,23,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171717', endColorstr='#171717', GradientType=1 );

  }
}

.skin-1.gradient-bg section {
  background: rgba(237,237,237,1);
background: -moz-linear-gradient(left, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 51%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237,237,237,1)), color-stop(51%, rgba(255,255,255,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-linear-gradient(left, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 51%, rgba(237,237,237,1) 100%);
background: -o-linear-gradient(left, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 51%, rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(left, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 51%, rgba(237,237,237,1) 100%);
background: linear-gradient(to right, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 51%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ededed', GradientType=1 );
}

.skin-2.gradient-bg section {
  background: rgba(31,129,186,1);
  background: -moz-linear-gradient(left, rgba(31,129,186,1) 0%, rgba(31,129,186,1) 1%, rgba(73,155,234,1) 50%, rgba(31,129,186,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(31,129,186,1)), color-stop(1%, rgba(31,129,186,1)), color-stop(50%, rgba(73,155,234,1)), color-stop(100%, rgba(31,129,186,1)));
  background: -webkit-linear-gradient(left, rgba(31,129,186,1) 0%, rgba(31,129,186,1) 1%, rgba(73,155,234,1) 50%, rgba(31,129,186,1) 100%);
  background: -o-linear-gradient(left, rgba(31,129,186,1) 0%, rgba(31,129,186,1) 1%, rgba(73,155,234,1) 50%, rgba(31,129,186,1) 100%);
  background: -ms-linear-gradient(left, rgba(31,129,186,1) 0%, rgba(31,129,186,1) 1%, rgba(73,155,234,1) 50%, rgba(31,129,186,1) 100%);
  background: linear-gradient(to right, rgba(31,129,186,1) 0%, rgba(31,129,186,1) 1%, rgba(73,155,234,1) 50%, rgba(31,129,186,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f81ba', endColorstr='#1f81ba', GradientType=1 );

}

.photo-bg {
  section#work {
    background: url(/img/photo1.jpg) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; 
  }
  section#about {
    background: url(/img/photo2.jpg) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; 
  }
  section#press {
    background: url(/img/photo3.jpg) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; 
  }
  section#contact {
    background: url(/img/photo4.jpg) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; 
  }

}

.skin-1.photo-bg section#work {

}

@media screen and (min-width: 64em) {
  .skin-1 {
    .logo {
      color: $gray;
    }
    .nav-collapse a {
      color: $gray;
    }

    .top-nav-collapse { 
      a {
        color: $white;
      }
    }
  }
  .skin-2 {
    .logo {
      color: $white;
    }
  }
}
