/* LIGHT */
$skin-1-color: #0e9aef;
$skin-1-nav-bg: #3e495f;
$skin-1-a-color: #9ea6b9;
$skin-1-page-bg: #f4f6fa;
.skin-1 {
  #work {
    background-color: $white;
    h1 {
      color: $gray;
    }
    p {
      color: $dark-gray;
    }
  }
  header {
    background-color: $dark-gray;
    a {
      color: $white;
    }
  }

  .top-nav-collapse {
    background-color: $dark-gray;
    padding: 0;
  }

  .top-nav-collapse a {
    color: $white;
  }
  .nav-collapse a:active,
  .nav-collapse .active a {
  background: $light-gray;
  color: $dark-gray;
  }
}


