/* LIGHT */
$skin-1-color: #0e9aef;
$skin-1-nav-bg: #3e495f;
$skin-1-a-color: #9ea6b9;
$skin-1-page-bg: #f4f6fa;
.skin-1 {
  .overlay {
    background-color: rgba(255, 255, 255, .7);
  }
  .full-name {
  h1 {
    color: $dark-gray;
    text-shadow: none;
  }
  h2 {
    color: $gray;
    text-shadow: none;
  }
  }
  section {
    background-color: $white;
    h1 {
      color: $gray;
    }
    p {
      color: $dark-gray;
    }
  }
  header {
    background-color: $dark-gray;
    a {
      color: $white;
    }
  }

  .top-nav-collapse {
    background-color: $dark-gray;
    padding: 0;
  }
  .nav-collapse a {
    color: $dark-gray;
  }

  .logo {
    color: $gray;
  }
  .top-nav-collapse { 
    a {
      color: $white;
    }
    .logo {
     color: $white; 
    }
  }
  .nav-collapse a:active,
  .nav-collapse .active a {
  background: $light-gray;
  color: $dark-gray;
  }
}


