@import "inuit-css";
@import "../components/modular-scale/stylesheets/_modular-scale.scss";

/* EXTRAS */
.text--center {
    text-align: center !important;
}

.text--left {
  text-align: left;
}

.inline {
  display: inline-block;
}

.vertical--middle {
  display: table;
  height: 100%;
  width: 100%;
}
.vertical--middle > *{
  display: table-cell;
  vertical-align: middle;
}

.layout {
  font-size: 0;
}
.layout__item {
  font-size: 1rem;
}

/* TYPOGRAPHY */
$ms-base: 1em;
$ms-ratio: $golden;

$font-heading: 'Pacifico', cursive;
$font-body: 'Lato', Helvetica, sans-serif;


/* COLOR SCHEME */
$gray: #514947;
$light-gray: #CCCCCC;
$white: #FEFEFE;
$dark-gray: #333333;
$black: #1E1E1E;

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: $black;
  font-size: ms(0);
  font-family: $font-body;
}

.container {
  min-height: 100%;
  overflow: hidden;
  /* we don't want the pseudo-elements sticking out */
}
a {
  color: #00B7FF;
}

/* NAV */
header {
  background-color: #fefefe;
  position: fixed;
  font-size: 1em;
  line-height: $inuit-base-spacing-unit;
  z-index: 3;
  width: 100%;
  left: 0;
  top: 0;
  span img {
    width: 10%;
  }
  -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
  transition: background .5s ease-in-out,padding .5s ease-in-out;
}


.logo {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
  font-weight: bold;
  line-height: 55px;
  padding: 0 20px;
  color: $gray;
  float: left;
}

.nav-collapse ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
  text-transform: uppercase;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.mask {
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  transition: opacity 300ms;
  background: rgba(0,0,0, .5);
  visibility: hidden;
  position: fixed;
  opacity: 0;
  z-index: 2;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.android .mask {
  -webkit-transition: none;
  transition: none;
}

.js-nav-active .mask {
  visibility: visible;
  opacity: 1;
}



/* ------------------------------------------
  NAVIGATION STYLES
--------------------------------------------- */

.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-collapse,
.nav-collapse * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
    width: 100%;
      float: left;
}


.nav-collapse li {
  float: left;
  width: 100%;
}


.nav-collapse a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
  //background: #f4421a;
  padding: 0.7em 1em;
  color: $gray;
  width: 100%;
  float: left;
}

.nav-collapse a:active,
.nav-collapse .active a {
  background: $dark-gray;
  color: $white;
}


.nav-collapse ul ul a {
  background: #ca3716;
  padding-left: 2em;
}


.nav-toggle {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  text-indent: -300px;
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 55px;
  float: right;
}

.nav-toggle:before {
  color: $gray; /* Edit this to change the icon color */
  font: normal 28px/55px "responsivenav"; /* Edit font-size (28px) to change the icon size */
  text-transform: none;
  text-align: center;
  position: absolute;
  content: "\2261"; /* Hamburger icon */
  text-indent: 0;
  speak: none;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-toggle.active:before {
  font-size: 24px;
  content: "\78"; /* Close icon */
}

/* FRONT */
.bg--full {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

}

.full-name {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  h1 {
    width: 100%;
    font-size: ms(3);
    font-weight: 300;
    color: white;
    text-shadow:0px 1px 4px #000000;
  }
  h2 {
    color: $light-gray;
    font-size: ms(1);
    font-weight: 400;
    text-transform: uppercase; 
    text-shadow:0px 1px 3px #000000;
  }

}

#home {
  position: relative;
  background: url(/img/front.jpg) no-repeat top center;
  background-attachment: fixed;
  z-index: 1;
  }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .5);
}

/* WORK */
section {
  position: relative;
  padding: 0 12px;
  box-shadow: 0 -3px 5px rgba(0,0,0,0.5);
  background-color: $dark-gray;
  min-height: 100%;
  z-index: 2;
  h1 {
    color: $light-gray;
    font-size: ms(1);
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
    span {
      font-size: ms(2);
    }
  }
  p {
    color: $white;
  }
}

/* QUOTES */
.quote {
  background-color: transparent;
  h3 {
    color: $gray;
    font-size: ms(2);
    font-weight: 300;
    font-style: italic;
  }
}

/* SEPARATOR */
section::before,
section::after {
  position: absolute;
  content: '';
  pointer-events: none;
}

/* Triangles */
.ss-style-doublediagonal::before,
.ss-style-doublediagonal::after {
  top: 0;
  left: -25%;
  z-index: -1;
  width: 150%;
  height: 75%;
  background: inherit;
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.ss-style-doublediagonal::before {
  height: 50%;
  background: $gray;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-transform-origin: 3% 0;
  transform-origin: 3% 0;
}

/* VIDEO */
.video__wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.video__wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video__caption {
  color: $light-gray;
  font-style: italic;
}


@import "theme-config";
@import "skins";


/* MEDIA QUERIES */
@media screen and (min-width: 45em) {
  .text--left-lap-and-up {
    text-align: left !important;
  }
  html {
    font-size: 110%;
  }
}

@media screen and (min-width: 64em) {
  header, .skin-1 header {
    background-color: transparent;
    padding: 10px 0;
  }
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
    color: $light-gray;
  }
 .mask {
    display: none !important;
    opacity: 0 !important;
  }
  .logo {
    color: $light-gray;
  }
 .nav-collapse {
   color: $light-gray;
    width: auto;
    float: none;
    ul {
      width: auto;
      float: none;
    }
  }
 .nav-collapse li {
    width: auto;
    display: inline-flex;
    float: none;
  }
 .nav-collapse a {
    padding: 1.02em 2em;
    text-align: center;
    border-top: 0;
    margin: 0;
    color: $white;
  }
 .nav-collapse ul ul a {
    display: none;
  }
.top-nav-collapse a {
  color: $gray;
}

.top-nav-collapse {
  padding: 0;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,0.5);
}

}
